@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);
body {
  overflow-x: hidden;
  font-family: "Source Sans Pro", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #fed136;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #fed136;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}
.navbar-default {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
  padding: 5px 0;
}
.navbar-default .navbar-brand {
  color: #ff3d00;
  padding: 0 15px;
  font-family: "Source Sans Pro", "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #cc3100;
}
.navbar-default .navbar-brand img {
  height: 75px;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #ff3d00;
  border-color: #ff3d00;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff501a;
}
.navbar-default .nav.navbar-right {
  padding-top: 5px;
}
.navbar-default .nav li a {
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a.btn-style {
  border-radius: 20px;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 0px;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  text-transform: none;
  width: 175px;
  text-align: center;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.navbar-default .nav li a.btn-style:first-child {
  margin-right: 15px;
}
.navbar-default .nav li a.btn-style.orange {
  background-color: #ff3d00;
  color: white;
}
.navbar-default .nav li a.btn-style.orange:hover {
  background-color: #ff501a;
  text-decoration: none;
}
.navbar-default .nav li a.btn-style.white {
  background-color: white;
  color: #ff3d00;
}
.navbar-default .nav li a.btn-style.white:hover {
  background-color: #fafafa;
  text-decoration: none;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 15px;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-default.navbar-shrink {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
  .navbar-default.navbar-shrink .navbar-brand img {
    height: 50px;
  }
}
#pl-info-request .modal-body {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
}
#pl-info-request .modal-body h2 {
  font-size: 40px;
  font-weight: 300;
  text-transform: none;
}
#pl-info-request .modal-body p.desc {
  font-size: 23px;
  font-weight: 300;
}
#pl-info-request .modal-body .btn-style {
  border-radius: 20px;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 50px;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  border: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
#pl-info-request .modal-body .btn-style.orange {
  background-color: #ff3d00;
  color: white;
}
#pl-info-request .modal-body .btn-style.orange:hover {
  background-color: #ff501a;
  text-decoration: none;
}
header {
  background-image: url('../img/hero-wave.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .phones {
  height: 470px;
  right: 0;
  top: 10px;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text h1.heading {
  font-weight: 200;
  font-size: 40px;
  line-height: 1.25;
  text-transform: none;
  text-shadow: 1px 0 1px #A1A1A1;
  margin-bottom: 0;
}
header .intro-text h2.sub-heading {
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  text-transform: none;
  text-shadow: 1px 0 1px #A1A1A1;
  margin: 20px 0;
}
header .intro-text .intro-lead-in {
  font-family: "Source Sans Pro", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
header .intro-text img.mobile-store {
  height: 60px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Source Sans Pro", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: none;
  color: #ff3d00;
  font-weight: 200;
  line-height: 1.2;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Source Sans Pro", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
section p {
  color: #363636;
}
section p.desc {
  font-size: 18px;
  line-height: 1.75;
  font-weight: 300;
}
section a.btn-style {
  border-radius: 20px;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 50px;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
section a.btn-style.orange {
  background-color: #ff3d00;
  color: white;
}
section a.btn-style.orange:hover {
  background-color: #ff501a;
  text-decoration: none;
}
section ul {
  padding-left: 0;
}
section ul li {
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  line-height: 1.75;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#section2 .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#section2 .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#section2 .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#section2 .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#section2 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 18px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#section2 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#section2 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#section2 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Source Sans Pro", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.station-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.025);
}
.station-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.station-modal .modal-content p {
  margin-bottom: 30px;
}
.station-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Source Sans Pro", "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.station-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.station-modal .modal-content img {
  margin-bottom: 30px;
}
.station-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.station-modal .close-modal:hover {
  opacity: 0.3;
}
.station-modal .close-modal .lr {
  height: 25px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.station-modal .close-modal .lr .rl {
  height: 25px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.station-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
.phones {
  position: absolute;
}
::-moz-selection {
  text-shadow: none;
  background: ligten(#ff3d00, 20%);
}
::selection {
  text-shadow: none;
  background: ligten(#ff3d00, 20%);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #fed136;
}
p.help-block {
  color: #d22929;
  text-align: left;
  margin-bottom: 15px;
}
p.help-block ul {
  list-style: none;
  padding-left: 0;
}
#section1 {
  padding-top: 20px;
  padding-bottom: 200px;
  position: relative;
  margin-bottom: 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+57 */
  background: #d5d5d5;
  background: -moz-linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 50%, #ffffff 65%, #ffffff 66%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #d5d5d5), color-stop(50%, #f6f6f6), color-stop(65%, #ffffff), color-stop(66%, #ffffff));
  background: -webkit-linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 50%, #ffffff 65%, #ffffff 66%);
  background: -o-linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 50%, #ffffff 65%, #ffffff 66%);
  background: -ms-linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 50%, #ffffff 65%, #ffffff 66%);
  background: linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 50%, #ffffff 65%, #ffffff 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#ffffff', GradientType=1);
}
#section1 .phones {
  left: 25%;
  top: -20px;
}
#section1:before {
  content: '';
  position: absolute;
  left: 0;
  top: -98px;
  width: 100%;
  height: 195px;
  -webkit-transform: skewY(-6.5deg);
  -moz-transform: skewY(-6.5deg);
  -ms-transform: skewY(-6.5deg);
  -o-transform: skewY(-6.5deg);
  transform: skewY(-6.5deg);
  -webkit-backface-visibility: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+25 */
  background: #d5d5d5;
  background: -moz-linear-gradient(-45deg, #d5d5d5 0%, #f6f6f6 34%, #ffffff 65%, #ffffff 66%, #ffffff 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #d5d5d5), color-stop(34%, #f6f6f6), color-stop(65%, #ffffff), color-stop(66%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #d5d5d5 0%, #f6f6f6 34%, #ffffff 65%, #ffffff 66%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #d5d5d5 0%, #f6f6f6 34%, #ffffff 65%, #ffffff 66%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #d5d5d5 0%, #f6f6f6 34%, #ffffff 65%, #ffffff 66%, #ffffff 100%);
  background: linear-gradient(135deg, #d5d5d5 0%, #f6f6f6 34%, #ffffff 65%, #ffffff 66%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#ffffff', GradientType=1);
}
#section1 ul.icon-list {
  margin-top: 25px;
}
#section1 ul.icon-list li {
  display: inline-block;
  margin: 5px;
}
#section1 ul.icon-list li:first-child .icon {
  margin-left: 0;
}
#section1 ul.icon-list li div.icon {
  display: inline-block;
  background-color: #ff3d00;
  margin: 5px 15px;
  border-radius: 50%;
  padding: 7px;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
}
#section1 ul.icon-list li div.icon i {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  height: 50px;
  width: 50px;
}
#section1 ul.icon-list li:first-child {
  margin-left: 0;
}
#section1 ul.icon-list li span {
  color: #363636;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  display: block;
}
#section2 {
  padding-top: 20px;
  padding-bottom: 200px;
  position: relative;
  margin-bottom: 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+80,dddddd+100 */
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 34%, #ffffff 13%, #f6f6f6 80%, #d5d5d5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(34%, #ffffff), color-stop(13%, #ffffff), color-stop(80%, #f6f6f6), color-stop(100%, #d5d5d5));
  background: -webkit-linear-gradient(-45deg, #ffffff 34%, #ffffff 13%, #f6f6f6 80%, #d5d5d5 100%);
  background: -o-linear-gradient(-45deg, #ffffff 34%, #ffffff 13%, #f6f6f6 80%, #d5d5d5 100%);
  background: -ms-linear-gradient(-45deg, #ffffff 34%, #ffffff 13%, #f6f6f6 80%, #d5d5d5 100%);
  background: linear-gradient(135deg, #ffffff 34%, #ffffff 13%, #f6f6f6 80%, #d5d5d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d5d5d5', GradientType=1);
}
#section2 .phones {
  right: 20%;
  top: 0px;
}
#section2 p.desc {
  margin-bottom: 20px;
}
#section2 a.btn-style {
  margin-top: 25px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
#section2 a.btn-style:hover {
  background-color: #ff501a;
  text-decoration: none;
}
#section2:before {
  content: '';
  position: absolute;
  left: 0;
  top: -98px;
  width: 100%;
  height: 195px;
  -webkit-transform: skewY(6.5deg);
  -moz-transform: skewY(6.5deg);
  -ms-transform: skewY(6.5deg);
  -o-transform: skewY(6.5deg);
  transform: skewY(6.5deg);
  -webkit-backface-visibility: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+25 */
  background: #ffffff;
  background: -moz-linear-gradient(45deg, #ffffff 0%, #ffffff 14%, #ffffff 11%, #f6f6f6 90%, #f0f0f0 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffffff), color-stop(14%, #ffffff), color-stop(11%, #ffffff), color-stop(90%, #f6f6f6), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 14%, #ffffff 11%, #f6f6f6 90%, #f0f0f0 100%);
  background: -o-linear-gradient(45deg, #ffffff 0%, #ffffff 14%, #ffffff 11%, #f6f6f6 90%, #f0f0f0 100%);
  background: -ms-linear-gradient(45deg, #ffffff 0%, #ffffff 14%, #ffffff 11%, #f6f6f6 90%, #f0f0f0 100%);
  background: linear-gradient(45deg, #ffffff 0%, #ffffff 14%, #ffffff 11%, #f6f6f6 90%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=1);
}
#section3 {
  padding-top: 20px;
  position: relative;
  margin-bottom: 20px;
  z-index: 3;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+57 */
  background: #d5d5d5;
  background: -moz-linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 40%, #f6f6f6 65%, #f6f6f6 66%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #d5d5d5), color-stop(40%, #f6f6f6), color-stop(65%, #f6f6f6), color-stop(66%, #f6f6f6));
  background: -webkit-linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 40%, #f6f6f6 65%, #f6f6f6 66%);
  background: -o-linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 40%, #f6f6f6 65%, #f6f6f6 66%);
  background: -ms-linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 40%, #f6f6f6 65%, #f6f6f6 66%);
  background: linear-gradient(45deg, #d5d5d5 0%, #f6f6f6 40%, #f6f6f6 65%, #f6f6f6 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#ffffff', GradientType=1);
}
#section3 .phones {
  left: 25%;
  top: -20px;
}
#section3 p.desc {
  margin-bottom: 40px;
}
#section3:before {
  content: '';
  position: absolute;
  left: 0;
  top: -98px;
  width: 100%;
  height: 195px;
  -webkit-transform: skewY(-6.5deg);
  -moz-transform: skewY(-6.5deg);
  -ms-transform: skewY(-6.5deg);
  -o-transform: skewY(-6.5deg);
  transform: skewY(-6.5deg);
  -webkit-backface-visibility: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+25 */
  background: #d5d5d5;
  background: -moz-linear-gradient(-45deg, #d5d5d5 0%, #f6f6f6 34%, #f6f6f6 65%, #f6f6f6 66%, #f6f6f6 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #d5d5d5), color-stop(34%, #f6f6f6), color-stop(65%, #f6f6f6), color-stop(66%, #f6f6f6), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(-45deg, #d5d5d5 0%, #f6f6f6 34%, #f6f6f6 65%, #f6f6f6 66%, #f6f6f6 100%);
  background: -o-linear-gradient(-45deg, #d5d5d5 0%, #f6f6f6 34%, #f6f6f6 65%, #f6f6f6 66%, #f6f6f6 100%);
  background: -ms-linear-gradient(-45deg, #d5d5d5 0%, #f6f6f6 34%, #f6f6f6 65%, #f6f6f6 66%, #f6f6f6 100%);
  background: linear-gradient(135deg, #d5d5d5 0%, #f6f6f6 34%, #f6f6f6 65%, #f6f6f6 66%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#ffffff', GradientType=1);
}
footer {
  padding: 45px 0 75px;
  position: relative;
}
footer:before {
  content: '';
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  height: 30px;
  background-color: #fff;
  z-index: 3;
}
footer p.copyright {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
footer a {
  transition: all 0.25s ease;
}
footer a.footer-link {
  color: #363636;
  font-size: 18px;
  font-weight: 300;
}
footer a.footer-link:hover {
  text-decoration: none;
  color: #ff3d00;
}
footer a.btn-style {
  border-radius: 20px;
  font-size: 18px;
  font-weight: 100;
  padding: 7px 0px;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
  text-transform: none;
  width: 175px;
  text-align: center;
  display: block;
}
footer a.btn-style:first-child {
  margin-right: 15px;
}
footer a.btn-style.orange {
  background-color: #ff3d00;
  color: white;
}
footer a.btn-style.orange:hover {
  background-color: #ff501a;
  text-decoration: none;
}
footer a.btn-style.white {
  background-color: white;
  color: #ff3d00;
}
footer a.btn-style.white:hover {
  background-color: #fafafa;
  text-decoration: none;
}
footer a.btn-style:hover {
  text-decoration: none;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Non-Mobile First Method  ==========*/
@media screen only screen and (min-width: 1200px) {
  footer {
    padding: 70px 0 75px;
  }
  footer:before {
    height: 94px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  header .intro-text {
    padding: 125px 0;
  }
  header .intro-text .phones {
    height: 400px;
    top: 68px;
  }
  header .intro-text img.mobile-store {
    height: 40px;
  }
  #section1 .phones {
    top: -12px;
  }
  #section2 {
    padding-bottom: 160px;
  }
  footer:before {
    height: 63px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header .intro-text .phones {
    height: 300px;
    top: 280px;
  }
  section .col-sm-6.content {
    width: 66.66666667%;
  }
  section .col-sm-6.img-screen {
    width: 33.33333333%;
  }
  section .phones {
    left: 0 !important;
    max-width: 100%;
  }
  section#section1 {
    padding-top: 0;
    padding-bottom: 150px;
  }
  section#section1 .phones {
    top: 5px;
  }
  section#section2 {
    padding-top: 0;
    padding-bottom: 125px;
  }
  section#section2 .phones {
    right: 0;
    top: 25px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  nav {
    padding-bottom: 0;
  }
  .navbar-default {
    background-color: #fff;
    padding-bottom: 0;
  }
  .navbar-default .navbar-header {
    margin-bottom: 5px;
  }
  .navbar-default .navbar-brand img {
    height: 50px;
  }
  .navbar-default .nav {
    margin-bottom: 0;
  }
  .navbar-default .nav li a.btn-style {
    background-color: transparent !important;
    color: #ff3d00 !important;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #e7e7e7;
    width: auto;
    padding: 10px 0;
  }
  header .intro-text h1.heading {
    font-size: 34px;
  }
  header .intro-text .phones {
    height: 300px;
    top: 178px;
  }
  section h2.section-heading {
    font-size: 38px;
    margin-bottom: 10px;
  }
  section p.desc {
    font-size: 14px;
  }
  section#section1 {
    padding-bottom: 80px;
  }
  section#section1:before {
    top: -50px;
  }
  section#section1 ul li {
    font-size: 14px;
  }
  section#section1 ul.icon-list li:first-child .icon {
    margin: 5px;
  }
  section#section1 ul.icon-list li div.icon {
    padding: 0;
  }
  section#section1 ul.icon-list li span.title {
    font-size: 12px;
  }
  section#section1 .col-sm-6.content {
    float: right;
    padding-left: 40px;
  }
  section#section1 .col-sm-6.img-screen {
    left: 25px;
  }
  section#section1 .col-sm-6.img-screen img.phones {
    height: 355px;
  }
  section#section2:before {
    top: -50px;
  }
  section#section2 .col-sm-6.content {
    float: left;
    padding-right: 40px;
  }
  section#section2 .col-sm-6.img-screen {
    float: right;
  }
  section#section2 .col-sm-6.img-screen img.phones {
    height: 355px;
    top: 35px;
  }
  section#section3 {
    padding-top: 40px;
    padding-bottom: 85px;
  }
  section#section3:before {
    top: -50px;
  }
  section#section3 h2.section-heading {
    padding-top: 30px;
  }
  section#section3 .col-sm-6.content {
    float: right;
    padding-left: 40px;
  }
  section#section3 .col-sm-6.img-screen {
    left: 25px;
  }
  section#section3 .col-sm-6.img-screen img.phones {
    height: 355px;
  }
}
@media only screen and (max-width: 640px) {
  section h2.section-heading {
    font-size: 32px;
  }
  section#section1 .phones {
    top: 35px;
  }
  section#section1 ul.icon-list li div.icon {
    margin: 5px;
  }
  section#section2 .col-sm-6.img-screen img.phones {
    top: 65px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header {
    background-image: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+40,dddddd+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #f6f6f6), color-stop(100%, #dddddd));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
    /* IE6-9 */
  }
  header .intro-text {
    padding: 80px 0 55px;
  }
  header .intro-text h1.heading {
    color: #ff3d00;
    text-shadow: none;
    font-size: 32px;
  }
  header .intro-text h2.sub-heading {
    color: #363636;
    text-shadow: none;
  }
  header .intro-text .phones {
    position: relative;
    top: 25px;
    margin: 0 auto;
    display: block;
  }
  section .col-sm-6.content {
    width: 100%;
  }
  section .col-sm-6.img-screen {
    width: 100%;
  }
  section .col-sm-6 h2.section-heading {
    font-size: 34px;
  }
  section#section1 {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0;
    background-image: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+40,dddddd+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #f6f6f6), color-stop(100%, #dddddd));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
    /* IE6-9 */
  }
  section#section1:before {
    background: #fff;
    height: 125px;
  }
  section#section1 .col-sm-6.content {
    position: relative;
    top: -400px;
    float: none;
    padding-left: 15px;
  }
  section#section1 .col-sm-6.img-screen {
    left: 0;
  }
  section#section1 ul.icon-list li div.icon {
    margin: 5px;
    padding: 0;
  }
  section#section1 .phones {
    position: relative;
    top: 265px;
    margin: 0 auto;
    display: block;
    height: 400px;
  }
  section#section2 {
    padding-bottom: 25px;
    background-image: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+40,dddddd+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #f6f6f6), color-stop(100%, #dddddd));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
    /* IE6-9 */
  }
  section#section2 .phones {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 360px;
  }
  section#section2 .col-sm-6.content {
    position: relative;
    top: 0px;
    float: none;
    padding-right: 15px;
  }
  section#section2 .col-sm-6.img-screen {
    float: none;
    left: 0;
  }
  section#section2 .col-sm-6.img-screen img.phones {
    height: 360px;
    top: 25px;
  }
  section#section3 {
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0;
    background-image: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+40,dddddd+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(60%, #f6f6f6), color-stop(100%, #dddddd));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 60%, #dddddd 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
    /* IE6-9 */
  }
  section#section3:before {
    background: #fff;
    height: 125px;
  }
  section#section3 p.desc {
    margin-bottom: 0;
  }
  section#section3 .col-sm-6.content {
    position: relative;
    top: -400px;
    float: none;
    padding-left: 15px;
  }
  section#section3 .col-sm-6.img-screen {
    float: none;
    left: 0;
  }
  section#section3 .phones {
    position: relative;
    top: 185px;
    margin: 0 auto;
    display: block;
    height: 400px;
  }
  footer {
    padding: 35px 0 55px;
  }
}
@media only screen and (max-width: 380px) {
  section#section1 .phones {
    top: 290px;
  }
}
@media only screen and (max-width: 358px) {
  section#section1 .phones {
    top: 320px;
  }
}
@media only screen and (max-width: 335px) {
  header .intro-text h2.sub-heading {
    font-size: 18px;
  }
  section h2.section-heading {
    font-size: 30px !important;
  }
  section#section1 {
    padding-bottom: 5px;
  }
  section#section1 ul.icon-list li {
    display: block;
  }
  section#section1 ul.icon-list li:first-child {
    margin-left: 5px;
  }
  section#section1 ul.icon-list li:first-child .icon {
    margin-left: 5px;
  }
  section#section1 ul.icon-list li .icon {
    display: inline-block;
    vertical-align: middle;
  }
  section#section1 ul.icon-list li span.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
  }
  section#section1 .phones {
    top: 450px;
  }
  section#section2 .phones {
    max-width: 80%;
  }
  section#section3 .phones {
    top: 210px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 323px) {
  section#section1 .phones {
    top: 510px;
  }
}
